<% if flash[:errors] %>
  <%= flash[:errors] %>
  <% end %>

<form action="/users" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <label>Email:</label><input type='text' name='user[email]'></br>
  <label>Name:</label><input type='text' name='user[name]'></br>
  <label>Password:</label><input type='text' name='user[password]'></br>
  <label>Confirm Password:</label><input type='text' name='user[password_confirmation]'></br>
  <input type='submit' value='Join'>
</form>
